<h1>  </h1>

<br>
<div>
    <%= form_with(url: pesq_budget_delivery_order_index_path, method: :get, class: "d-flex" ) do |f| %>                
        <%= f.text_field :query, class:"form-control me-2", type:"search", 
                        placeholder:"Codigo de Rastreio" %>
        <%= f.submit 'Pesquisar', class:"btn btn-outline-success" %>
    <% end %>
</div>
<br>
<div>
    <% if @delivery_order.any? %>
        <div class="d-flex justify-content">
            <div class="me-4">
                    <h5>Remetente</h5>
                    <table class="table-responsive-md  table-bordered">
                        <thead>
                            <tr>         
                                <th scope="col" > Endereço </th>   
                            </tr>
                        </thead>
                        <tbody>
                                <tr >
                                    <td> <%= @delivery_order.order.full_sender_address %> </td>
                                </tr>
                        </tbody>
                    </table>
            </div>
            <div></div>
            <div class="">
                    <h5>Destinatario</h5>
                    <table class="table-responsive-md table-bordered" >
                        <thead>
                            <tr>         
                                <th scope="col" > Endereço </th>        
                            </tr>
                        </thead>
                        <tbody>
                                <tr >
                                    <td> <%= @delivery_order.order.full_recipient_address %> </td>
                                </tr>
                        </tbody>
                    </table>
                
            </div>
        </div>
        <br>
        <div class="mb-3">
            <h5>Veiculo</h5>
            <p> <%= @delivery_order.vehicle.full_description %> </p>   
        </div>

        <div class="mb-3">
            <h5>Previsão de entrega</h5>
            <p> <%= I18n.localize(@delivery_order.delivry_forecast) %> </p>    
        </div>

        <br>
        <div>
            <% if @delivery_order.delivery_date.present? %>
                <h5>Data da entrega</h5>
                <p> <%= I18n.localize(@delivery_order.delivry_date) %> </p>
            <% end %>
        </div>

    <% else %>
        <p> <%=  "Codigo de Rastreio #{@pesq_delivery} não encontrado !!!"  </p> 
    <% end %>
</div>
<br>

<div class="mb-3">
    <p> <%= link_to 'Sair', root_path %> </p>    
</div>
