<br>
<h1>Veiculos</h1>
<br>
<div class="d-flex justify-content-between ">
    <p><%= link_to 'Cadastrar novo Veiculo', new_vehicle_path %> </p>

    <div >
    <%= form_with(url: vehicles_path, method: :get ) do |f| %>
              <%= f.label :query, 'Placa Identificação' %>
              <%= f.text_field :query %>
              <%= f.submit 'Buscar' %>
    <% end %>
    </div>
</div>
<br>
<div>
    <% if @vehicles.any? %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Placa Identificação</th>
                    <th scope="col" >Marca</th>
                    <th scope="col">Modelo  </th>
                    <th scope="col">Ano Fabricação  </th>
                    <th scope="col">Carga Maxima</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Status</th>
                    <th scope="col">Alterar</th>
                        
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% @vehicles.each do |v| %>
                    <tr >
                        <td> <%= v.nameplate %> </td>
                        <td> <%= v.brand %> </td>
                        <td> <%= v.vehicle_model %> </td>
                        <td > <%= v.year_manufacture %> </td>
                        <td > <%= v.maximum_load %> Kg </td>
                        <td> <%= v.category.name %> </td>
                        <td> <%= I18n.translate(v.status) %> </td>
                        <% if v.in_operation? %>
                            <td> <%= button_to 'Em Manutenção', maintenance_vehicle_path(v.id), class: "btn btn-warning" %> </td>
                        <% else %>
                            <% if v.under_maintenance? %>
                                <td> <%= button_to 'Em Operação', operation_vehicle_path(v.id), class: "btn btn-success" %> </td>
                            <% end %>
                        <% end %>
                        <td> <%= link_to 'Editar', edit_vehicle_path(v.id) %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p> <%= @pesq_veic.present? ?  "Veiculo #{@pesq_veic} não encontrado !!!"  : 
                    "Não ha Veiculos Cadastrados !!!" %> </p> 
    <% end%>
   
</div>

<div>
    <p> <%= link_to 'Voltar', root_path %> </p>
</div>