
<% if @category.errors.any? %>
    <p>Verifique os erros abaixo</p>
    <ul>
        <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<br>
<%= form_with(model: @category) do |c| %>

    <div class="row mb-3">
            <%= c.label :name,  class:"col-sm-2 col-form-label" %>
            <div class="col-sm-10">
                <%= c.text_field :name, class:"form-control" %>
            </div>
    </div>

    <div>
        <%= c.submit 'Salvar' %>
    </div>

    <div>
        <%= link_to 'Cancelar', categories_path %>
    </div>

<% end %>